::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.2); }

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.6); }

div.meta {
  display: flex;
  flex-wrap: wrap;
  color: #37352f; }
  div.meta span.meta-date {
    padding: 1px 6px; }
  div.meta span.meta-tag {
    display: flex;
    align-items: center;
    background-color: rgba(0, 232, 184, 0.2);
    border-radius: 5px;
    padding: 1px 6px;
    font-size: 14px;
    height: 18px;
    margin: auto 4px; }

::selection {
  background-color: #d1f1ff; }

* {
  border: 0px solid #333;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  line-height: 1.6;
  font-family: 'Lato', Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #555; }

blockquote {
  background: #f9f9f9;
  border-left: 7px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
  padding: 0.5em 13px; }

a {
  color: #00b0ff;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  color: #333; }

h1, h2, h3 {
  font-weight: 700;
  margin: 25px auto; }

h4, h5, h6 {
  font-weight: 700;
  margin: 20px auto; }

h1 {
  font-size: 3.4rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.3rem; }

h5 {
  font-size: 1.15rem; }

h6 {
  font-size: 1.05rem;
  color: #888; }

p {
  font-size: 1em;
  font-weight: 400;
  margin: 15px auto; }

code {
  border-radius: 5px;
  background-color: #fdf2f9;
  color: #ff4081;
  font-size: 0.9em;
  line-height: 1.7;
  padding: 3px 5px;
  word-break: break-word; }

pre {
  border-radius: 5px;
  background-color: #fff8e3;
  margin: 20px 0;
  padding: 8px 10px;
  overflow: auto; }
  pre code {
    background-color: #fff8e3;
    color: #ff6f00;
    font-size: 0.9em;
    line-height: 1.4;
    padding: 0;
    word-wrap: break-word; }

img {
  display: block;
  width: 70%;
  margin: 1em auto; }

li {
  margin-left: 25px;
  margin-top: 7.5px;
  word-break: break-word; }

table {
  border-spacing: 0;
  display: table;
  margin: 20px 0;
  font-size: 0.9em;
  border-collapse: collapse;
  width: 100%; }
  table td, table th {
    padding: 10px;
    border: 1px solid #dfe2e5;
    min-width: 80px; }
  table thead tr {
    background-color: #f5f5f5; }
  table tbody tr:nth-child(odd) {
    background-color: transparent; }
  table tbody tr:nth-child(even) {
    background-color: #f5f5f5; }

.hidden {
  display: none; }

.container {
  max-width: 8.3in;
  padding: 1em;
  margin: 0 auto; }

::placeholder {
  color: #fff; }

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2.3rem; }
  h2 {
    font-size: 1.7rem; }
  h3 {
    font-size: 1.4rem; }
  h4 {
    font-size: 1.25rem; }
  h5 {
    font-size: 1.15rem; }
  h6 {
    font-size: 1.05rem; }
  img {
    width: 100%; } }

footer {
  margin-top: 50px; }
  footer span {
    font-size: 0.8rem;
    color: #ccc; }
